*.ino.backup
*.ino.hex
*.ino.elf
*.ino.eep
*.ino.map
*.ino.d
*.ino.cpp
*.ino.lst
*.ino.sym
*.ino.pre
*.ino.o

/.vscode

/.pio
/.vs
/.DS_Store
/Thumbs.db
/build

/.clangd
/.cquery_cached_index
/.vscode/.clangd
/.vscode/.cquery_cached_index
.vscode/ipch
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json

/libraries
